.aboutMain {
    background-color: rgb(3, 71, 3);
    width: 100vw;
    
    justify-content: center;
    padding-top: 125px;
    
    
}

.JT_Info {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    
}

.aboutImg {
    display: inline-block;
    margin-left: 100px;
    width:100vw;
    padding-top: 20px;
    margin-bottom: 50px;
    
}

.info_text {
    margin-top: 100px;
    margin-left: 60px;
    height: 90px;
    font-size: 30px;
    text-align: center;
    margin-right: 50px;
  
}